body{
  background: linear-gradient(140deg, #8a2f2f, #8a2f7b, #4d2f8a, #2f618a, #2f8a77, #2f8a5b);
 background-size: 1200% 1200%;

 -webkit-animation: AnimationName 50s ease infinite;
 -moz-animation: AnimationName 50s ease infinite;
 animation: AnimationName 50s ease infinite;
}

 @-webkit-keyframes AnimationName {
     0%{background-position:5% 0%}
     50%{background-position:96% 100%}
     100%{background-position:5% 0%}
 }
 @-moz-keyframes AnimationName {
     0%{background-position:5% 0%}
     50%{background-position:96% 100%}
     100%{background-position:5% 0%}
 }
 @keyframes AnimationName {
     0%{background-position:5% 0%}
     50%{background-position:96% 100%}
     100%{background-position:5% 0%}
 }
